body{
    max-width: 5906px;
    
}
.flex-container {
    display: flex;
    align-items: center;
    
}






.header{
    height: 923px;
    // background-image: url(/img/header.png);
    background:black;
    
    .logo{
        height: 797px;
        background: black;

      
    }
    
    .nav-up{
        height: 126px;  
        background:rgb(51, 51, 51);
        justify-content: space-around;
        font-size: 92px;
        color: rgb(186,0,13);
        :last-child {color:white;};
        :first-child{color:white;};
        // .nav-up{
        //     align-content: space-between;
            

        // }
        
      
    }

}
.content{
    height: 2406px;
    justify-content: space-around;
    
    .right-panel{
        background: yellow;
        

    }
    .center-hall{
        background: greenyellow;
    }
    .left-panel{
        background:green;
    }
        
    
}
.footer{
    height: 531px;
    // background:red;
    
    .on-footer{
        height: 106px;
        background: black;
    }

    .nav-down{
        height: 425px;  
        background:rgb(51, 51, 51);
        justify-content: space-around;
        font-size: 92px;
        color: rgb(186,0,13);
    }
}





