body{
    max-width: 5906px;
    
    
}

a:link{color: rgb(159, 167, 165)};
a:visited{color: rgb(50, 48, 54)};
a:hover{color: rgb(140, 139, 141); cursor: pointer;};
a:active{color: rgb(0, 255, 191)};


.flex-container {
    display: flex;
    align-items: center;
    
}


.main{
    
}



.header{
    height: 923px;
    background:black;
    
    .logo{
        height: 797px;
        background: black;
        background-image: url(../img/header3.png);

      
    }
    
    .nav-up{
        height: 126px;  
        background: $primary-color;
        justify-content: space-around;
        font-size: 92px;
        color: rgb(186,0,13);
        :last-child {color:white;};
        :first-child{color:white;};
               
      
    }

}
.content{
    height: 2297px;
    justify-content: space-around;
    
    
    // .left-panel{
    //     height: 2297px;
    //     flex-basis: 1354px;
    //     background:black;

    //     .left-menu{
    //         height: 1900px;
    //         margin-top: 150px; 
    //         background:gray;
            
    //     }
    // }
    
    
    .left-panel{
    height: 2297px;
        flex-basis: 1354px;
        background:black;

        .left-menu{
            height: 1900px;
            margin-top: 150px; 
            background: $primary-color;
            font-size:92px;
            
            p{text-align: center};
            
            
            .title-left{
                // margin-top: 250px;
                padding-top: 100px;
                padding-bottom: 50px;
                color: rgb(186,0,13);
                img{display: block;
                margin-top: 100px;};
                
            }
            .menu-l{
                flex-direction: column;
                justify-content: space-around;
                list-style-type: none;
                font-size: 76px;
                li{
                    width: 100%;
                    padding:45px;
                    text-align: center;
                    color: #fff;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                    
                }
                :hover{
                    color: rgb(186,0,13);
                };
            }
        }
        

    }
    
    .center-hall{
        position: relative;
        height: 2297px;
        flex-basis: 3200px;
        background: black;
        background-image: url(../img/Hall.png);
        background-repeat: no-repeat;
        background-position: center center;


        .hall-slider{
            position: absolute;
            top:630px;
            left:465px;
            width: 1873px;
            height:993px;
            overflow: hidden;

            .slider{
                width: 100%;
                height: 100%;
                font-size: 120px;
                text-align: center;

                .img{
                width: 100%;
                height: 100%;
                // 
                


                }
                // @keyframes Hall { 
                //     0%{transform:scale(0.2);}
                //     50%{transform:scale(1);}
                //     100%{transform:scale(1);}
                // }
            }

            

            

        }
        
    }
    
    .right-panel{
        height: 2297px;
        flex-basis: 1354px;
        background:black;

        .right-menu{
            height: 1900px;
            margin-top: 150px; 
            background: $primary-color;
            font-size:92px;
            
            p{text-align: center};
            
            
            .title-right{
                // margin-top: 250px;
                padding-top: 100px;
                padding-bottom: 50px;
                color: rgb(186,0,13);
                img{display: block;
                margin-top: 100px;};
                
            }
            .menu-r{
                flex-direction: column;
                justify-content: space-around;
                list-style-type: none;
                font-size: 76px;
                li{
                    width: 100%;
                    padding:45px;
                    text-align: center;
                    color: #fff;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                    
                }
                :hover{
                    color: rgb(186,0,13);
                };
            }
        }
        

    }
}
.footer{
    height: 531px;
    
    .on-footer{
        height: 106px;
        background: black;
    }

    .nav-down{
        height: 425px;  
        background:rgb(51, 51, 51);
        justify-content: space-around;
        font-size: 92px;
        color: rgb(186,0,13);
    }
}





